In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [20]:
# Read the CSV file into a DataFrame
input_file = "C:/Users/hp/Desktop/hip/again/all_combined.csv"
output_file = "C:/Users/hp/Desktop/hip/again/normalized_output.csv"

In [21]:
data = pd.read_csv(input_file)

In [22]:
# Separate the numeric columns from the string column
string_data_0 = data.iloc[:,0]
numeric_data = data.iloc[:, 1:4]
string_data = data.iloc[:, 4]

In [23]:
numeric_data.head()

            AE        EC         M
0  28904.48276  0.000221  0.069208
1  25304.91525  0.000139  0.073300
2  26733.78723  0.000100  0.072720
3  30515.80508  0.000079  0.069157
4  24408.34746  0.000065  0.074386

In [24]:
print(numeric_data['AE'].max())
print(numeric_data['EC'].max())
print(numeric_data['M'].max())
print(numeric_data['AE'].min())
print(numeric_data['EC'].min())
print(numeric_data['M'].min())

337996495.2
0.000220679
0.213537641
6803.235294
-1.59e-05
0.002240964

In [25]:
# Initialize the Min-Max Scaler
scaler = MinMaxScaler()

In [26]:
# Fit and transform the numeric data
# normalized_numeric_data = scaler.fit_transform(numeric_data)
for column in numeric_data.columns:
    numeric_data[column] = scaler.fit_transform(numeric_data[column].values.reshape(-1, 1))

In [27]:
print(numeric_data['AE'].max())
print(numeric_data['EC'].max())
print(numeric_data['M'].max())
print(numeric_data['AE'].min())
print(numeric_data['EC'].min())
print(numeric_data['M'].min())

0.9999999999999999
1.0
1.0000000000000002
0.0
0.0
0.0

In [28]:
numeric_data.head()

         AE        EC         M
0  0.000065  1.000000  0.316933
1  0.000055  0.652886  0.336298
2  0.000059  0.490331  0.333557
3  0.000070  0.400289  0.316692
4  0.000052  0.343226  0.341440

In [29]:
# Combine the normalized numeric data with the string data
normalized_data = pd.concat([string_data_0,numeric_data, string_data], axis=1)

# Save the normalized data to a new CSV file
normalized_data.to_csv(output_file, index=False)

print("Normalization complete. Data saved to", output_file)

Normalization complete. Data saved to C:/Users/hp/Desktop/hip/again/normalized_output.csv